<h2>User info</h2>

<% if @user.image.attached? %>
  <%= image_tag @user.image, size: "100x100" %>
<% else %>
  <%= image_tag 'no_image', size: "100x100" %>
<% end %>

<table>
    <tr><th>name</th><th><%= @user.name %></th></tr>
    <tr><th>introductuion</th></tr>
</table>

<%= link_to edit_user_path(current_user.id), class: 'btn btn-outline-secondary btn-block' do %>
    <i class="fa-solid fa-user-gear"></i>
<% end %>